
body {
  
  margin: 0;
  padding: 0;
}

/*header start */

.container2 {
  height: 12vh;
  background-color: #05e8ba;
  background-image: linear-gradient(372deg,#05e8ba 31%,#087ee1 125%);
  padding: 38px 54px 0px;
  text-align: center;
  overflow: hidden;
  line-height: 12px;
  box-shadow: 0 -2px 4px 2px;
  border-bottom: 2px solid;
}

/* header end */



/* course heading 1st */


.information-container {
  
  background-size: cover;
  padding: 60px  10px 10px;
}

.inner-container {
  
  max-width: 320px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}

.section-title {
  text-align: center;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  font-size: 30px;
}

.border {
  
  height: 2px;
  background: #31eee4;
  
}
/*end course heading 1st */


/* privacy policy  paragraph */

.detail{
  
  
    text-align: justify;
    font-size: 18px;
    
   line-height: 1.6;
   
}

 .p1 {
    font-size: 30px;
    text-align: left;
    padding:10px 30px 10px 30px;
   line-height: 1.35;
  }

.p2 {
    
    text-align: justify;
    font-size: 18px;
    padding:10px 30px 10px 30px;
   line-height: 1.5;
}
ul.li{
  text-align:justify;
}


  /*footer start*/

  footer
  {
    background-color: #333333;
    width:100%;
    display:block;
    overflow:hidden;
    box-shadow: 0 -2px 4px 2px;
    border-bottom: 2px solid ;
  }
  
  
  /* Footer 3 column */
  .footer
  {
    display:block;
    margin:0 auto;
    padding:30px 0 0;
    list-style:none;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden
  }
  .footer .widget-content
  {
    display:block;
    text-align:center;
    margin:0 auto 
    !important;
    padding:0 0 30px!important;
    list-style:none;max-width:728px
  }
  .footer h2,.footer h3
  {
    margin:10px auto 15px;
    padding:0;
    text-transform:uppercase;
    font-weight:700;
    font-size:15px;
    background-color: #333333;
    display:block;
    text-align:center;
    position:relative;
  }
 
  
  /* Credit footer */
  
  .footmenu
  {
    font-size:17px;
    
    margin:0 auto;
    display:block;
  }
  .footmenu ul
  {
    display:block;
    margin:30px;
    padding:0px;
    text-align:center;
  }
  .footmenu ul li
  {
    display:inline-block;
    padding:10px 14px 10px 14px;
  }
  .footmenu a
  {
    color:#ffffff;
  }
  .footmenu a:hover
  {
    color:#05c4ca;
  }
  .credit-wrapper
  {
    
    background-color: #05e8ba;
    background-image: linear-gradient(372deg,#05e8ba 31%,#087ee1 125%);
  
    margin:0 auto;
    padding:15px 0;color:#292828;
    display:block;
    width:100%;
    text-align:center;
    list-style:none !important
  }
  .credit-wrapper a
  {
    color:#ffffff;
  }
  .credit-wrapper a:hover
  {
    color:#020505;
  }
  .fa {
      display: inline-block;
      font: normal normal normal 14px/1;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    text-decoration: none; 
   }
  /*footer end */